@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+3:ital,wght@1,600&display=swap');


body{
    padding: 0px;
    margin: 0px;
}

.heroSec{
    position: relative;
}

.heroImg{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -10;
}

.menu{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 87.5%;
    margin: auto;
}

.logo{
    display: flex;
    align-items: flex-end;
}

.logo img{
    width: clamp(55px, 5.2vw, 120px);
    height: clamp(50px, 4.7vw, 108px);
}
.logo p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(30px, 2.87vw, 65px);
    font-weight: 600;
    font-style: italic;
    color: #2363C3;
    letter-spacing: 0.02em;
    margin-left: -10px;
    margin-bottom: -8px;
    transform: skew(-7deg);
    margin-top: 0px;
}

.signIn{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signInLink{
    text-decoration: none;
}

.signIn p{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(16px, 1.45vw, 32px);
    font-weight: 500;
    color: #222222;
}

.signIn svg{
    width: clamp(20px, 1.82vw, 40px);
    margin-right: 10px;
}

.heroTitle{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(45px, 6.25vw, 140px);
    font-weight: 500;
    font-style: italic;
    color: #2363C3;
    margin-top: 17vh;
    margin-left: 6.25%;
    width: 50%;
    line-height: 1.05em;
    margin-bottom: 0px;
}

.heroDesc{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(24px, 2.1vw, 48px);
    font-weight: 300;
    color: #222222;
    margin-top: 30px;
    margin-left: 6.25%;
    width: 40%;
    line-height: 1.05em;
    margin-bottom: clamp(50px, 2.86vw, 65px);
}

.joinLink{
    text-decoration: none;
    padding: 10px clamp(45px, 3.1vw, 70px);
    color: #222222;
}

.buttonJoin{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(26px, 1.67vw, 36px);
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 10px 0px;
    margin-left: 6.25%;
    background-color: #FABD9E;
    display: inline;
}

.titleComp{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(38px, 3.65vw, 80px);
    font-weight: 600;
    font-style: italic;
    color: #222222;
    margin-top: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.05em;
    margin-bottom: 50px;
}

.compSkates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 56%;
    margin: auto;
    align-items: flex-end;
}

.cSkate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skateImgSmall{
    margin-bottom: -40px;
}

.cSkate p{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #222222;
    margin-top: 10px;
    text-align: center;
}

.skateImgBig p{
    font-size: clamp(26px, 2.1vw, 48px);
}

.skateImgSmall p{
    font-size: clamp(26px, 1.67vw, 38px);
}

.skateImgBig img{
    width: clamp(160px, 12vw, 250px);
    height: auto;
}

.skateImgSmall img{
    width: clamp(160px, 9.9vw, 210px);
    height: auto;
}

.sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 74%;
    margin: clamp(130px, 15.6vw, 350px) auto auto auto;
}

.sec2 img{
    width: 42%;
    height: auto;
}

.sec2title{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(42px, 4.2vw, 90px);
    font-weight: 500;
    font-style: italic;
    color: #2363C3;
    margin: 0px 0px 100px 0px;
    line-height: 1.05em;
}

.tickReason{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.tickReason p{
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: clamp(24px, 1.67vw, 36px);
    color: #222222;
}

.tickReason svg{
    width: clamp(28px, 2.1vw, 48px);
    margin-right: 15px;
}

.testimonials{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: clamp(100px, 6.8vw, 300px);
}

.testimonial{
    width: 31.25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.testimonial.gray{
    background-color: #E3EAF5;
    margin-top: 80px;
}
.testimonial.blue{
    background-color: #2363C3;
}

.testimonial.blue p, .testimonial.blue h3{
    color: #FAFCFE;
}

.testimonial svg{
    width: clamp(50px, 3.75vw, 70px);
    margin-top: 25px;
    margin-bottom: clamp(15px, 1.05vw, 25px);
}

.testimonial p{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: clamp(18px, 1.15vw, 24px);
    color: #222222;
    width: 84%;
    text-align: center;
    margin: 0px;
}

.testimonial h3{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: clamp(20px, 1.25vw, 28px);
    color: #222222;
    text-align: center;
    margin: 15px 0px 25px 0px;
}

.testimonial img{
    margin-top: 15px;
}

.sec4{
    margin-top: clamp(150px, 11.5vw, 250px);
}

.sec4title{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(40px, 4.2vw, 90px);
    font-weight: 500;
    font-style: italic;
    color: #F78953;
    margin: 0px 0px clamp(80px, 4.7vw, 105px) 0px;
    text-align: center;
}

.step svg{
    width: clamp(130px, 10.4vw, 220px);
}

.steps{
    display: flex;
    justify-content: space-between;
    width: 77%;
    margin: auto;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

.step h3{ 
    font-family: 'Rubik', sans-serif;
    font-size: clamp(50px, 4.2vw, 90px);
    font-weight: 500;
    color: #F78953;
    margin: 10px 0px;
    text-align: center;
}

.step p{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(22px, 1.35vw, 28px);
    font-weight: 300;
    color: #222222;
    margin: 0px;
    text-align: center;
}

.sec5{
    margin-top: clamp(150px, 13.5vw, 300px);
}

.sec5 h2{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(36px, 4.2vw, 90px);
    font-weight: 500;
    font-style: italic;
    color: #2363C3;
    margin: 0px auto clamp(80px, 5.7vw, 130px) auto;
    text-align: center;
    width: 57%;
}

.sec5row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 87%;
    margin: auto;
}

.sec5feature{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec5feature:nth-child(odd){
    margin-bottom: clamp(80px, 6.25vw, 130px);
}

.sec5feature.firstFeature{
    position: relative;
    left: clamp(70px, 5.2vw, 120px);
}

.sec5feature svg{
    width: clamp(70px, 6.25vw, 140px);
    margin-bottom: clamp(20px, 1.56vw, 35px);
}

.productSec5{
    width: 40%;
    margin-left: 30px;
    margin-right: clamp(40px, 4.2vw, 90px);
}

.sec5feature p{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(20px, 1.35vw, 28px);
    font-weight: 300;
    color: #222222;
    margin: 0px;
    text-align: center;
}

.videoTitle{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(40px, 4.2vw, 90px);
    font-weight: 500;
    font-style: italic;
    color: #222222;
    margin: clamp(120px, 9.4vw, 210px) 0px clamp(70px, 4.7vw, 110px) 0px;
    text-align: center;
}

.pricing h2{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(45px, 4.2vw, 90px);
    font-weight: 500;
    font-style: italic;
    color: #222222;
    margin: clamp(120px, 9.4vw, 210px) 0px clamp(70px, 4.7vw, 110px) 0px;
    text-align: center;
}

.pricing{
    display: flex;
    flex-direction: column;
}

.priceCats{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.middleCat{
    margin: 0px clamp(45px, 3.1vw, 75px);
    background-color: #FABD9E;
    border-radius: 15px;
    width: clamp(280px, 20.3vw, 420px);
    padding-left: clamp(25px, 2.86vw, 65px);
    padding-right: clamp(25px, 2.86vw, 65px);
}

.priceCat{
    background-color: #FCE6DB;
    border-radius: 15px;
    width: clamp(280px, 18.2vw, 380px);
    padding-left: clamp(25px, 2.6vw, 60px);
    padding-right: clamp(25px, 2.6vw, 60px);
}

.middleCat h3{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(24px, 1.9vw, 40px);
    font-weight: 500;
    font-style: italic;
    color: #222222;
    margin: clamp(30px, 2.1vw, 45px) 0px clamp(25px, 1.8vw, 40px) 0px;
    text-align: center;
}
.priceCat h3{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(24px, 1.56vw, 33px);
    font-weight: 500;
    font-style: italic;
    color: #222222;
    margin: clamp(30px, 2.1vw, 45px) 0px 25px 0px;
    text-align: center;
}
.priceCat ul, .middleCat ul{
    margin-top: 8px;
    margin-bottom: 8px;
}
.priceCat ul li{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(18px, 1.04vw, 21px);
    font-weight: 300;
    color: #222222;
}
.middleCat ul li{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(18px, 1.14vw, 24px);
    font-weight: 300;
    color: #222222;
}
.priceCat ul li.boldLi, .middleCat ul li.boldLi{
    font-weight: normal;
}
.priceCat h3.price{
    margin-top: 30px;
}
.priceCat p{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(18px, 1.04vw, 21px);
    font-weight: normal;
    color: #222222;
    margin: 0px;
}
.middleCat p{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(18px, 1.14vw, 24px);
    font-weight: normal;
    color: #222222;
    margin: 0px;
}

.buttonBuy{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(26px, 1.67vw, 36px);
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    margin: clamp(70px, 5.2vw, 110px) auto clamp(110px, 6.25vw, 135px) auto;
    border-radius: 40px;
    padding: 10px 0px;
    background-color: #2363C3;
}
.buttonBuyLink{
    text-decoration: none;
    color: #FAFCFE;
    padding: 10px clamp(45px, 3.1vw, 70px);
}

.footer{
    width: 100%;
    height: auto;
    background-color: #2363C3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoFooter{
    margin: 25px auto;
    display: flex;
    align-items: flex-end;
}
.logoFooter img{
    width: clamp(55px, 5.2vw, 120px);
    height: clamp(50px, 4.7vw, 108px);
}

.logoFooter p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(30px, 2.87vw, 65px);
    font-weight: 600;
    font-style: italic;
    color: #FAFCFE;
    letter-spacing: 0.02em;
    margin-left: -10px;
    margin-bottom: -8px;
    transform: skew(-7deg);
}

.disclaimer{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(14px, 0.94vw, 20px);
    font-weight: 300;
    color: #FAFCFE;
    margin: 0px 0px 50px 0px;
    text-align: center;
}



@media only screen and (max-width: 980px){
	.compSkates{
        width: 85%;
    }
    .heroTitle{
        width: 70%;
    }
    .heroDesc{
        width: 60%  ;
    }
    .logo p{
        margin-bottom: -4px;
    }
    .sec2{
        flex-direction: column;
    }
    .sec2title{
        width: 80%;
        text-align: center;
        margin: 0px auto 100px auto;
    }
    .sec2 img{
        margin-top: clamp(75px, 11.7vw, 115px);
        width: 80%;
    }
    .testimonial.gray{
        display: none;
    }
    .testimonials{
        justify-content: center;
    }
    .testimonial.blue{
        width: 70%;
    }
    .steps{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .step{
        width: 50%;
        margin-bottom: 70px;
    }
    .steps .step:last-child{
        margin-bottom: 0px;
    }
    .sec5row{
        flex-direction: column;
        align-items: center;
    }
    .sec5col1,.sec5col3{
        display: flex;
        justify-content: space-between;
    }
    .sec5feature.firstFeature, .sec5col3 .sec5feature:first-child{
        position: static;
        margin-right: 60px;
    }
    .productSec5{
        width: 70%;
        margin-bottom: 60px;
    }
    .priceCats{
        flex-direction: column;
    }
    .priceCat:first-child{
        order: 2;
        margin-bottom: 70px;
    }
    .priceCat:last-child{
        order: 3;
    }
    .middleCat{
        margin-bottom: 70px;
    }
    .middleCat, .priceCat{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 700px){
	.compSkates{
        flex-direction: column;
        align-items: center;
    }
    .titleComp{
        margin-bottom: 70px;
    }
    .skateImgSmall{
        margin-bottom: 60px;
    }
    .skateImgBig{
        margin-bottom: 60px;
    }
    .cSkate p{
        margin-bottom: 0px;
    }
    .menu{
        padding-top: 20px;
        width: 85%;
    }
    .logo p{
        display: none;
    }
    .heroTitle{
        width: auto;
        margin-left: 30px;
        margin-top: 33vh;
    }
    .heroDesc{
        width: 80%;
        margin-left: 30px;
    }
    .sec2{
        width: 87%;
    }
    .sec2title{
        width: 90%;
    }
    .testimonials{
        width: 87%;
    }
    .testimonial.blue{
        width: 100%;
    }
    .steps{
        width: 82%;
    }
    .step{
        width: 100%;
    }
    .sec5col1,.sec5col3{
        flex-direction: column;
    }
    .sec5feature.firstFeature, .sec5col3 .sec5feature:first-child{
        margin-right: 0px;
    }
    .productSec5{
        display: none;
    }
    .sec5col1 .sec5feature:last-child{
        margin-bottom: 80px;
    }
    .sec5 h2{
        width: 90%;
    }
    .videoTitle{
        width: 85%;
        margin: 120px auto 70px auto;
    }
    .middleCat, .priceCat{
        width: auto;
    }
    .priceCats{
        width: 80%;
    }
}
